body {
    font-family: 'Montserrat', sans-serif !important;
}

input[type="text"] {
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    margin-bottom: 20px;
}

input[type="password"] {
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    margin-bottom: 20px;
}

input[type="email"] {
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    margin-bottom: 20px;
}

span {
    font-size: 13px;
}

.row {
    margin-right: 0 !important;
}
#login-form {
    padding: 2% 15%;
}

.login-side {
    background-color: #2f5d62;
}

.form-page {
    text-align: center ;
    background-color: #fff;
    padding: 4% 7% 0% 7% !important;
}

.logo-img {
    width: 30%;
}

.form-control-1 {
    width: 100%;
    padding: .375rem .75rem;
}

.form-control-1:focus {
    outline: none;
}

.my-form-2 {
    margin-bottom: 6px;
}

form {
    width: 75%;
    margin: 0 auto;
}

.login-btn-div {
    margin-bottom: 100px;
}

.login-btn {
    background-color: #2f5d62 !important;
    color: #fff !important;
    border: none !important;
    width: 45% !important;
    border-radius: 2px !important;
    margin-right: 8%;
}

.login-outlone-btn {
    border-color: #2f5d62 !important;
    color: #2f5d62 !important;
    width: 45% !important;
    border-radius: 2px !important;
}

.login-outlone-btn:hover {
    background-color: #2f5d62 !important;
    color: #fff !important;
}

.pl-2 {
    margin-left: 10px;
}

a {
    color: #2f5d62 !important;
}

p {
    color: #2f5d62 !important;
    font-weight: 700;
}

/* Register Page */
.register-page {
    text-align: center ;
    background-color: #fff;
    padding: 0% 7% 0% 7% !important;
}

.btn-outline-primary-1 {
    margin-bottom: 35px !important;
}

.logo-img-1 {
    width: 25%;
}
.login-btn-div-1 {
    margin-bottom: 0 !important;
    margin-top: 20px;
}

.my-form {
    padding: 10px !important;
    margin-bottom: 12px;
}

.terms-service-1 {
    margin-bottom: 10px;
}

.terms {
    font-size: 13px;
}

.form-control-2:focus {
    border-color: #fff !important;
}

.register-btn {
    background-color: #2f5d62 !important;
    color: #fff !important;
    border: none !important;
    width: 40% !important;
    border-radius: 2px !important;
    margin-right: 8%;
}