body {
    line-height: 1.5;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
}

/* Nav Section */
nav {
    background-color: #2f5d62;
}

.navbar-nav {
    margin-left: 30px;
}

.nav-link {
    margin: 10px;
    margin-left: 50px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #fff !important;
}

.btn-color {
    margin-left: auto;
    margin-right: 60px;
    font-weight: 700 !important;
}
/* Ending of Nav Section */

/* Banner Section  */
#overlay {
    overflow: hidden;
    background: black;
}
.banner-image {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.erp-img {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;  
    opacity: 0.7;  
    height: 500px;
}

.btn-over {
    background-color: white !important;
    border-radius: 0 !important;
    color: #2f5d62 !important;
    border: none !important;
    font-weight: 700 !important;
    width: 150px;
}

.intro-p {
    font-size: 14px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.intro-h1 {
    line-height: 1.3;
    margin-bottom: 8px;
}
/* Ending of Banner Section */

/* Features Section */
#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    background: #2f5d62;
    border-radius: 50%;
    color: #fff;
    padding: 10px;
    margin-bottom: 1rem;
}

.h3-icon {
    margin-top: 1rem;
}

.fe-p,.test-p {
    color: #8f8f8f;
}
/* Ending of Features Section */

/* Work Section */
#work {
    background-color: #2f5d62;
    padding: 7% 15%;
    color: #fff;
}

hr {
    opacity: inherit !important;
    height: 2px !important;
    width: 8%;
    text-align: center;
    margin: 0 auto !important;
}

.work-image {
    margin-bottom: 10px;
}

.work-h5 {
    margin-bottom: 20px;
}

.btn-work {
    background-color: white !important;
    border-radius: 0 !important;
    color: #2f5d62 !important;
    border: none !important;
}
/* Ending of Work Section */

/* Testimionial Section */
#testimionial {
    padding: 7% 15%;
}

.btn-test {
    background-color: #2f5d62 !important;
    border-radius: 0 !important;
    color: #fff !important;
    border: none !important;
    width: 15% !important;
    margin: 0 auto;
}

.test-text {
    width: 40%;
    margin: 0 auto;
    line-height: 1.5;
}

.test-img {
    margin-bottom: 10px;
}
/* Ending of Testimional Section */

/* Contact Section */
form {
    padding: 15px;
}
.contact-image {
    width: 100%;
}

.contact-image-1 {
    background-image: url("../img/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    opacity: .9;
}

.contact-form {
    border: 1px solid;
    width: 50%; 
    margin: 0 auto !important; 
    position: relative; 
    background-color: #fff;
    top: 55px;
    color: #2f5d62;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-design {
    margin-top: 100px !important;
}

.btn-contact {
    background-color: #2f5d62 !important;
    border-radius: 0 !important;
    color: #fff !important;
    border: none !important;
    width: 100%;
    margin-top: 10px;
}
/* Ending of Contact Section */

/* Footer Section */
#footer {
    background-color: #2f5d62;
    padding: 2% 15%;
    text-align: center;
}

.footer-color {
    color: #fff;
}

.social-icon {
    margin:20px 10px;
}

.footer-text {
    color: #fff;

}

::selection {
    color: white;
    background: #2f5d62;
}

::placeholder {
    color: #2f5d62 !important;
}